{% extends "shared/base.html" %}

{% block content %}
<div class="columns is-gapless" style="min-height:100vh;">
  <div id="main-app-1" class="column is-narrow has-background-primary">
    <div class="is-primary">
      <div class="p-3 title is-4 has-text-centered has-text-white is-family-secondary">
        Flask CMS&nbsp;&nbsp;&nbsp;
      </div>
    </div>
    <aside class="p-5 menu">
      <div class="menu-label">
        <a class="app-menu-link" href="{{ url_for('admin_main.index') }}">
          <span class="pr-2"><i class="fas fa-home fa-fw"></i></span>
          Home
        </a>
      </div>

      <!--BLOG-->
      {% if config.ADMIN_BLOG %}
      <div class="menu-label">
        <a class="app-menu-link" href="#" 
          @click="showBlog = !showBlog; setLocal('show_blog',showBlog)">
          <span class="pr-2" v-show="showBlog"><i class="fas fa-chevron-down fa-fw"></i></span>
          <span class="pr-2" v-show="!showBlog"><i class="fas fa-chevron-right fa-fw"></i></span>
          Blog
        </a>
      </div>
      <ul v-if="showBlog" class="menu-list">
        <li class="main-menu-item">
          <a href="{{ url_for('admin_blog.blog') }}">
            Blog
          </a>
        </li>
        <li class="main-menu-item">
          <a href="{{ url_for('admin_blog.tag') }}">
            Tags
          </a>
        </li>
        <li class="main-menu-item">
          <a href="{{ url_for('admin_blog.comment') }}">
            Comments
          </a>
        </li>
        <li class="main-menu-item">
          <a href="{{ url_for('admin_media.media',show='blog') }}">
            Media
          </a>
        </li>
      </ul>
      {% endif %}
      <!--END BLOG-->

      <!--PAGE-->
      {% if config.ADMIN_PAGE %}
      <p class="menu-label">
        <a href="#" class="app-menu-link" 
          @click.prevent="showPage = !showPage; setLocal('show_page',showPage)">
          <span class="pr-2" v-show="showPage"><i class="fas fa-chevron-down fa-fw"></i></span>
          <span class="pr-2" v-show="!showPage"><i class="fas fa-chevron-right fa-fw"></i></span>
          Pages
        </a>
      </p>
      <ul v-if="showPage" class="menu-list">
        <li class="main-menu-item">
          <a href="{{ url_for('admin_page.page') }}">
            Pages
          </a>
        </li>
        <li class="main-menu-item">
          <a href="{{ url_for('admin_media.media',show='page') }}">
            Media
          </a>
        </li>
      </ul>
      {% endif %}
      <!--END PAGE-->

      <!--MESSAGE-->
      {% if config.ADMIN_MESSAGE %}
      <div class="menu-label app-menu-link">
        <a href="#" class="app-menu-link" 
          @click.prevent="showContact = !showContact; setLocal('show_contact',showContact)">
          <span class="pr-2" v-show="showContact"><i class="fas fa-chevron-down fa-fw"></i></span>
          <span class="pr-2" v-show="!showContact"><i class="fas fa-chevron-right fa-fw"></i></span>
          Contact Form
        </a>
      </div>
      <ul v-if="showContact" class="menu-list">
        <li class="main-menu-item">
          <a href="{{ url_for('admin_message.message') }}">
            Messages
          </a>
        </li>
      </ul>
      {% endif %}
      <!--END MESSAGE-->

      <!--SHOP-->
      {% if config.ADMIN_SHOP %}
      <p class="menu-label">
        <a href="#" class="app-menu-link" 
          @click.prevent="showShop = !showShop; setLocal('show_shop',showShop)">
          <span class="pr-2" v-show="showShop"><i class="fas fa-chevron-down fa-fw"></i></span>
          <span class="pr-2" v-show="!showShop"><i class="fas fa-chevron-right fa-fw"></i></span>
          Shop
        </a>
      </p>
      <ul v-if="showShop" class="menu-list">
        <li class="main-menu-item">
          <a href="{{ url_for('admin_shop.shop') }}">
            Shop
          </a>
        </li>
        <li class="main-menu-item">
          <a href="{{ url_for('admin_shop.shop') }}">
            Reference
          </a>
        </li>
      </ul>
      {% endif %}
      <!--END SHOP-->

      <hr style="border: none; height: 1px; background-color: #DDDDDD;"/>

      <p><a class="app-menu-link is-size-7" href="{{ url_for('admin_main.about') }}">About Flask CMS</a></p>
    </aside>
  </div>
  <div class="column">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <article class="message is-{{ category }}">
            <div class="message-body">{{ message }}</div>
          </article>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="mb-5">
      <nav class="level is-mobile">
        <div class="ml-5 level-left"> 
          {% if breadcrumb %}
          <div class="breadcrumb" aria-label="breadcrumbs">
            <ul>
          {% endif %}
          {% for b in breadcrumb %}
          {% if not loop.last %}
            <li>
          {% else %}
            <li class="has-text-weight-bold">
          {% endif %}
              <a href="{{ b.url }}">
          {% if b.icon %}    
              <span class="mr-2">{{ b.icon|safe }}</span> 
          {% endif %}
              {{ b.name }}</a></li>
          {% endfor %}
          {% if breadcrumb %}
            </ul>
          </div>
          {% endif %}
        </div>
        <div id="main-app-2" class="mr-5 level-right">
          <div class="level-item">
            <div class="navbar" role="navigation" aria-label="dropdown navigation">
              <div class="navbar-item has-dropdown" :class="profileToggle ? 'is-active' : ''">
                <a class="navbar-link" @click.prevent="profileToggle=!profileToggle">
                  {{ current_user.firstname }} {{ current_user.lastname }}
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="{{ url_for('admin_main.site_setting') }}">Site Settings</a>
                  <a class="navbar-item" href="{{ url_for('admin_auth.logout') }}">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="container pt-3 pb-5 pl-5 pr-5 is-fluid">
    {% block app_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    new Vue({
      el: '#main-app-1',
      delimiters: ['[[', ']]'],
      data() {
        return {
          showBlog: true,
          showPage: true,
          showContact: true,
          showShop: true
        }
      },
      methods: {
        setLocal(name, val) {
          localStorage[name] = val
        }
      },
      mounted() {
        if (localStorage.show_blog) {
          this.showBlog = localStorage.show_blog === 'true'
        }
        if (localStorage.show_page) {
          this.showPage = localStorage.show_page === 'true'
        }
        if (localStorage.show_contact) {
          this.showContact = localStorage.show_contact === 'true'
        }
        if (localStorage.show_shop) {
          this.showShop = localStorage.show_shop === 'true'
        }
      }
    })
  </script>
  
  <script>
    new Vue({
      el: '#main-app-2',
      delimiters: ['[[', ']]'],
      data() {
        return {
          profileToggle: false
        }
      }
    })
  </script>
{% endblock %}

