{% extends "shared/base_main.html" %}
{% from 'shared/macros/_modal.html' import modal %}
{% from 'shared/macros/_pagination.html' import pagination %}
{% block title %}Blog{% endblock %}

{% block app_content %}
<div id="this-block">
  {{ modal('showDraftModal', 'Do you want to make this post a draft (unpublish)?','Make Draft','doMakeDraft','Cancel','doDraftCancel') }}
  {{ modal('showDeleteModal', 'Do you want to permanently delete this post?','Delete','doDelete','Cancel','doDeleteCancel') }}
  {{ modal('showRestoreModal', 'Do you want to restore this post?','Restore','doRestore','Cancel','doRestoreCancel') }}

  <form ref="delForm" method="post" action="{{ url_for('admin_blog.del_post') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="del_type" :value="del_type"/>
    <input type="hidden" name="id" :value="id"/>
  </form>

  <form ref="showForm" method="post" action="{{ url_for('admin_blog.blog') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="show_type" :value="showType"/>
  </form>

  <div class="level">
    <div class="level-left">
      <span class="mr-2">Show</span>
      <div class="mr-4 select">
        <select v-model="showType" @change="getShow">
          <option value="all">All</option>
          <option value="published">Published</option>
          <option value="draft">Draft</option>
        </select>
      </div>
    </div>
    <div class="level-right">
      <button class="button is-link" @click="gotoURL('{{ url_for('admin_blog.post') }}')">
          Create Post
      </button>
    </div>
  </div>

  <table class="table is-narrow is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Title</th>
        <th>Post</th>
        <th>First publish</th>
        <th>Last update</th>
        <th>Last update by</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% if posts.items|length == 0 %}
    <tr><td class="content">No posts in database</td></tr>
    {% endif %}      
    {% for p in posts.items %}
      {% if p.active %}
      <tr>
      {% else %}
      <tr class="has-text-grey-light">
      {% endif %}
        <td>{{ p.title }}</td>
        <td>{{ p.post|truncate(100,true,'...')|striptags }}</td>
        <td>{{ moment(p.create_date).format('D MMM YYYY hh:mm') }}</td>
        <td>{{ moment(p.update_date).format('D MMM YYYY hh:mm') }}</td>
        <td>{{ p.author.email }}</td>
        {% if p.active %}
        <td class="has-text-right">
          <a href="{{ url_for('admin_blog.edit_post',id=p.id) }}"><i class="far fa-edit" title="edit"></i></a>
        </td>
        <td class="has-text-right">
          <a href="#" @click="showDraftConfirm({{ p.id }})"><i class="fas fa-eraser" title="unpublish"></i></a>
        </td>
        {% else %}
        <td class="has-text-right">
          <a href="#" @click="showRestoreConfirm({{ p.id }})"><i class="fas fa-undo-alt" title="restore"></i></a>
        </td>
        <td class="has-text-right">
          <a href="#" @click="showDeleteConfirm({{ p.id }})"><i class="far fa-trash-alt" title="delete"></i></a>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if posts.pages > 1 %}
  {{ pagination(posts,'admin_blog.blog') }}
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  new Vue({
    el: '#this-block',
    delimiters: ['[[', ']]'],
    data() {
      return {
        showType: '{{ show_type or "all" }}',
        id: 0,
        del_type: '',
        showDraftModal: false,
        showDeleteModal: false,
        showRestoreModal: false
      }
    },
    methods: {
      getShow() {
        this.$nextTick(() => {
          this.$refs.showForm.submit()
        })
      },
      showDraftConfirm(id) {
        this.id = id
        this.showDraftModal = true
      },
      doDraftCancel() {
        this.showDraftModal = false
      },
      doMakeDraft() {
        this.showDraftModal = false
        this.del_type = 'soft'
        Vue.nextTick(() => {
          this.$refs.delForm.submit()
        })
      },
      showDeleteConfirm(id) {
        this.id = id
        this.showDeleteModal = true
      },
      doDeleteCancel() {
        this.showDeleteModal = false
      },
      doDelete() {
        this.showDeleteModal = false
        this.del_type = 'hard'
        Vue.nextTick(() => {
          this.$refs.delForm.submit()
        })
      },
      showRestoreConfirm(id) {
        this.id = id
        this.showRestoreModal = true
      },
      doRestoreCancel() {
        this.showRestoreModal = false
      },
      doRestore() {
        this.showRestoreModal = false
        this.del_type = 'restore'
        Vue.nextTick(() => {
          this.$refs.delForm.submit()
        })
      },
      gotoURL(url) {
        window.location.href=(url)
      }
    }
  })
</script>
{% endblock %}
