{% extends "shared/base_main.html" %}
{% from 'shared/macros/_form_image.html' import form_image with context %}
{% block title %}Blog Post{% endblock %}

{% block app_content %}
<div id="this-block">
  <div class="content mb-6">
    <form ref="form" action="{{ url_for('admin_blog.post') }}"  
      method="post" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" name="image_id1" value=""/>
      <input type="hidden" name="tags" :value="tags"/>

      <div class="level">
        <div class="level-left">
        </div>
        <div class="level-right">
          <input type="submit" @click.prevent="doValidate" 
            name="submit_btn" value="Publish" class="button is-link"/>
        </div>
      </div>

      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input 
          autofocus
          name="title"
          class="input"
          type="text"
          v-model="title">
        </div>
        <p v-if="errorMsg[0]" class="help is-danger">[[ errorMsg[0] ]]</p>
      </div>

      <div class="field">
        <label class="label">Write something</label>
        <div class="control">
          <textarea id="post" name="post" class="textarea" v-model="post">
          </textarea>
        </div>
        <p v-if="errorMsg[1]" class="help is-danger">[[ errorMsg[1] ]]</p>
      </div>

      <div class="field">
        <label class="label">Tags</label>
        <div class="control">
          <p v-if="tags.length==0" class="help is-info">
            <i class="fas fa-exclamation-circle"></i>
            Remember to press Enter to add the tag 
          </p>
          <div v-for='(tag, index) in tags' :key='tag' class="tags has-addons mr-2 tag-tags">
            <span class="tag is-info is-light">[[ tag ]]</span>
            <a @click="removeTag(index)" class="tag is-delete"></a>
          </div>
          <input 
            type='text' 
            placeholder="Enter a Tag" 
            class='input tag-input' 
            @keydown.enter='addTag' 
            @keydown.188='addTag'
          />
        </div>
        <p v-if="errorMsg[2]" class="help is-danger">[[ errorMsg[2] ]]</p>
      </div>

      <div class="field pt-4">
        <label class="label">Current image</label>
        <div class="control">
          <p>Empty</p>
        </div>
      </div>
      {{ form_image(1,3) }}
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
new Vue({
  el: '#this-block',
  delimiters: ['[[', ']]'],
  data() {
    return {
      title: '',
      post: '',
      tags: [],
      errorMsg: ['','','',''],
      filename1: 'No file selected',
      newimage1: 'upload'
    }
  },
  methods: {
    addTag(event) {
      this.errorMsg[2] = ''
      event.preventDefault()
      var val = event.target.value.trim().toLowerCase()
      if (val.length >= 12) {
        Vue.set(this.errorMsg, 2, 'Too many characters')
        event.target.value = ''
      } else if (this.tags.length >= 6) {
        Vue.set(this.errorMsg, 2, 'Too many tags')
        event.target.value = ''
      } else if (this.tags.includes(val)) {
        Vue.set(this.errorMsg, 2, 'Duplicate entry')
        event.target.value = ''
      } else if (val.length > 0) {
        this.tags.push(val)
        event.target.value = ''
      }
    },
    removeTag (index) {
      this.errorMsg[2] = ''
      this.tags.splice(index, 1)
    },
    clearErrors() {
      for (let i=0; i<this.errorMsg.length;i++) {
        this.errorMsg[i] = ''
      }
    },
    hasError() {
      err = false
      for(let i=0; i<this.errorMsg.length; i++) {
        if(this.errorMsg[i] != '') err = true
      }
      return err
    },
    doValidate(evt) {
      this.clearErrors()
      let post = tinyMCE.get('post').getContent()
      if (this.title.length == 0) {
        Vue.set(this.errorMsg, 0, 'This field is mandatory')
      } else if (this.title.length > 100) {
        Vue.set(this.errorMsg, 0, 'Maximum 100 characters')
      }
      if (post.length == 0) {
        Vue.set(this.errorMsg, 1, 'This field is mandatory')
      } else if (post.length > 15000) {
        Vue.set(this.errorMsg, 1, 'Maximum 15000 characters')
      }
      if (this['newimage1']=='upload') {
        let fs = this.$refs['imgupload1'].files[0]
        if (fs) {
          if((fs.size/1024) > 1024) {
            Vue.set(this.errorMsg, 3, 'Image cannot be larger than 1MB')
          }
        }
      }
      let upl = this.$refs['imgupload1'] ? this.$refs['imgupload1'].value: ''
      let sel = this.$refs['imgselect1'] ? this.$refs['imgselect1'].value: ''
      if (!upl && !sel) {
        Vue.set(this.errorMsg, 3, 'Image is mandatory')
      }
      if (!this.hasError()) {
        this.$nextTick(() => {
          this.$refs.form.submit()
        })
      }
    },
    fileSelected(evt,img_num) {
      if (evt.target.files.length > 0) {
        this['filename'+img_num] = evt.target.files[0].name
      }
    },
    clearSelection(ref,img_num,err_num) {
      this.$refs[ref].value = ''
      Vue.set(this.errorMsg, err_num, '')
      this['filename'+img_num] = 'No file selected'
    }
  },
  filters: {
    truncate: function (text, length, suffix) {
      if (text.length > length) {
          return text.substring(0, length) + suffix;
      } else {
          return text;
      }
    }
  },
  mounted() {
    let t = "{{ tags }}"
    if (t) {
      this.tags = t.split(',')
    }
  }
})
</script>
{% include 'shared/tinymce/_tinymce_blog.html' %}
{% endblock %}
