{% extends "admin_auth/base_auth.html" %}
{% block title %}Forgot Password{% endblock %}

{% block app_content %}
<div id="this-block">

  <form
    ref="forgotPasswordForm"
    action="{{ url_for('admin_auth.forgot_password') }}"
    method="post"
    class="box">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <div class="notification is-info is-light is-flex-wrap-wrap is-size-7">
      Please enter your email. You will receive<br/>
      an email with instructions on how to<br/>
      reset your password.
    </div>
    <div class="field">
      <div class="label">Email</div>
      <div class="control has-icons-left">
        <input 
          autofocus
          name="email"
          class="input"
          type="text"
          v-model="email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
      <p v-if="errorMsg[0]" class="help is-danger">[[ errorMsg[0] ]]</p>
    </div>

    <div class="pt-3 field">
      <div class="control is-expanded has-text-right">
        <input 
          type="submit"
          @click.prevent="doValidate"
          name="submit_btn" 
          class="button is-link">
      </div>
    </div>
  </form>

  <div class="content is-size-7 has-text-centered">
    <p><a href="{{ url_for('admin_auth.login') }}">Ready to sign in?</a></p>
    <p><a href="{{ main_url }}">&larr; Go to main site</a></p>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  new Vue({
    el: '#this-block',
    delimiters: ['[[', ']]'],
    data() {
      return {
        email: '',
        errorMsg: ['']
      }
    },
    methods: {
      clearErrors() {
        for (let i=0; i<this.errorMsg.length;i++) {
          this.errorMsg[i] = ''
        }
      },
      hasError() {
        err = false
        for(let i=0; i<this.errorMsg.length; i++) {
          if(this.errorMsg[i] != '') err = true
        }
        return err
      },
      doValidate() {
        this.clearErrors()
        if (this.email.length == 0) {
          Vue.set(this.errorMsg, 0, 'This is a mandatory field')
        }
        if (!this.hasError()) {
          this.$refs.forgotPasswordForm.submit()
        }
      }
    }
  })
</script>
{% endblock %}