{% extends "admin_auth/base_auth.html" %}
{% block title %}Reset Password{% endblock %}

{% block app_content %}
<div id="this-block">

  <form
    ref="resetPasswordForm"
    action=""
    method="post"
    class="box">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <div class="notification is-info is-light is-flex-wrap-wrap is-size-7">
      Enter your new password
    </div>
    <div class="field">
      <div class="label">New Password</div>
      <div class="control has-icons-left">
        <input 
          name="password"
          class="input"
          type="password"
          v-model="password">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
      <p v-if="errorMsg[0]" class="help is-danger">[[ errorMsg[0] ]]</p>
    </div>

    <div class="field">
      <div class="label">Repeat Password</div>
      <div class="control has-icons-left">
        <input 
          name="password2"
          class="input"
          type="password"
          v-model="password2">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
      <p v-if="errorMsg[1]" class="help is-danger">[[ errorMsg[1] ]]</p>
    </div>

    <div class="field pt-3">
      <div class="control is-expanded has-text-right">
        <input 
          type="submit"
          @click.prevent="doValidate"
          name="submit_btn" 
          class="button is-link">
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  new Vue({
    el: '#this-block',
    delimiters: ['[[', ']]'],
    data() {
      return {
        password: '',
        password2: '',
        errorMsg: ['','']
      }
    },
    methods: {
      clearErrors() {
        for (let i=0; i<this.errorMsg.length;i++) {
          this.errorMsg[i] = ''
        }
      },
      hasError() {
        err = false
        for(let i=0; i<this.errorMsg.length; i++) {
          if(this.errorMsg[i] != '') err = true
        }
        return err
      },
      doValidate() {
        this.clearErrors()
        if (this.password.length == 0) {
          Vue.set(this.errorMsg, 0, 'This is a mandatory field')
        } else if (this.password.length < 6) {
          Vue.set(this.errorMsg, 0, 'Minimum 6 characters')
        }
        if (this.password != this.password2) {
          Vue.set(this.errorMsg, 1, 'Passwords do not match')
        }
        if (!this.hasError()) {
          this.$refs.resetPasswordForm.submit()
        }
      }
    }
  })
</script>
{% endblock %}